.container{
    width: 60vw;
    @media (max-width : 782px) {
        width: 100%;
    }
}

.rowProjectCards {
    @media (max-width : 782px) {
        width: 100%;
        justify-content: center;
    }
}